extends layout

block content
  h1= title

  p I am #[a(href="https://grantpalin.com") Grant Palin] and I built this website.
  p This website was born out of a fandom for baseball (go Blue Jays!) and a desire to learn and apply some previously-unknown web technologies.
  p The data comes from MLB. No infringement intended. The website itself is my own creation, and is #[a(href="https://github.com/grantpalin/express-baseball-stats") open source]. It is currently built upon Pug, NodeJS, and Express, though this list may change over time. I plan to continue building out this website with additional data, content, features, and design revisions.
  p I also used the construction of this website as the basis for a series of blog posts centred around learning Pug and supporting technologies. Go give the series a read!
