extends layout

block content
  h1= title
  p Showing 2017 season standings.

  h2 By Division

  table
    caption AL East
    thead
      tr
        th Team
        th W
        th L
        th Home W
        th Home L
        th Away W
        th Away L
    tbody
      tr
        td Boston Red Sox
        td 93
        td 69
        td 48
        td 33
        td 45
        td 36
      tr
        td New York Yankees
        td 91
        td 71
        td 51
        td 30
        td 40
        td 41
      tr
        td Tampa Bay Rays
        td 80
        td 82
        td 42
        td 39
        td 38
        td 43
      tr
        td Toronto Blue Jays
        td 76
        td 86
        td 42
        td 39
        td 34
        td 47
      tr
        td Baltimore Orioles
        td 75
        td 87
        td 42
        td 39
        td 29
        td 52

    table
      caption AL Central
      thead
        tr
          th Team
          th W
          th L
          th Home W
          th Home L
          th Away W
          th Away L
      tbody
        tr
          td Cleveland Indians
          td 102
          td 60
          td 49
          td 32
          td 53
          td 28
        tr
          td Minnesota Twins
          td 85
          td 77
          td 41
          td 40
          td 44
          td 37
        tr
          td Kansas City Royals
          td 80
          td 82
          td 43
          td 38
          td 37
          td 44
        tr
          td Chicago White Sox
          td 67
          td 95
          td 39
          td 42
          td 28
          td 53
        tr
          td Detroit Tigers
          td 64
          td 98
          td 34
          td 47
          td 30
          td 51

    table
      caption AL West
      thead
        tr
          th Team
          th W
          th L
          th Home W
          th Home L
          th Away W
          th Away L
      tbody
        tr
          td Houston Astros
          td 101
          td 61
          td 48
          td 33
          td 53
          td 28
        tr
          td Anaheim Angels
          td 80
          td 82
          td 43
          td 38
          td 37
          td 44
        tr
          td Seattle Mariners
          td 78
          td 84
          td 40
          td 41
          td 38
          td 43
        tr
          td Texas Rangers
          td 78
          td 84
          td 41
          td 40
          td 37
          td 44
        tr
          td Oakland Athletics
          td 75
          td 87
          td 46
          td 35
          td 29
          td 52

    table
      caption NL East
      thead
        tr
          th Team
          th W
          th L
          th Home W
          th Home L
          th Away W
          th Away L
      tbody
        tr
          td Washington Nationals
          td 97
          td 65
          td 47
          td 34
          td 50
          td 31
        tr
          td Miami Marlins
          td 77
          td 85
          td 42
          td 36
          td 35
          td 49
        tr
          td Atlanta Braves
          td 72
          td 90
          td 37
          td 44
          td 35
          td 46
        tr
          td New York Mets
          td 70
          td 92
          td 37
          td 44
          td 33
          td 48
        tr
          td Philadelphia Phillies
          td 66
          td 96
          td 39
          td 42
          td 27
          td 54

    table
      caption NL Central
      thead
        tr
          th Team
          th W
          th L
          th Home W
          th Home L
          th Away W
          th Away L
      tbody
        tr
          td Chicago Cubs
          td 92
          td 70
          td 48
          td 33
          td 44
          td 37
        tr
          td Milwaukee Brewers
          td 86
          td 76
          td 46
          td 38
          td 40
          td 38
        tr
          td St Louis Cardinals
          td 83
          td 79
          td 44
          td 37
          td 39
          td 42
        tr
          td Pittsburgh Pirates
          td 75
          td 87
          td 44
          td 37
          td 31
          td 50
        tr
          td Cincinnati Reds
          td 68
          td 94
          td 39
          td 42
          td 29
          td 52

    table
      caption NL West
      thead
        tr
          th Team
          th W
          th L
          th Home W
          th Home L
          th Away W
          th Away L
      tbody
        tr
          td Los Angeles Dodgers
          td 104
          td 58
          td 57
          td 24
          td 47
          td 34
        tr
          td Arizona Diamondbacks
          td 93
          td 69
          td 52
          td 29
          td 41
          td 40
        tr
          td Colorado Rockies
          td 87
          td 75
          td 46
          td 35
          td 41
          td 40
        tr
          td San Diego Padres
          td 71
          td 91
          td 43
          td 38
          td 28
          td 53
        tr
          td San Francisco Giants
          td 64
          td 98
          td 38
          td 43
          td 26
          td 55

  h2 By League

  table
    caption American League
    thead
      tr
        th Team
        th W
        th L
        th Home W
        th Home L
        th Away W
        th Away L
    tbody
      tr
        td Cleveland Indians
        td 102
        td 60
        td 49
        td 32
        td 53
        td 28
      tr
        td Houston Astros
        td 101
        td 61
        td 48
        td 33
        td 53
        td 28
      tr
        td Boston Red Sox
        td 93
        td 69
        td 48
        td 33
        td 45
        td 36
      tr
        td New York Yankees
        td 91
        td 71
        td 51
        td 30
        td 40
        td 41
      tr
        td Minnesota Twins
        td 85
        td 77
        td 41
        td 40
        td 44
        td 37
      tr
        td Kansas City Royals
        td 80
        td 82
        td 43
        td 38
        td 37
        td 44
      tr
        td Tampa Bay Rays
        td 80
        td 82
        td 42
        td 39
        td 38
        td 43
      tr
        td Anaheim Angels
        td 80
        td 82
        td 43
        td 38
        td 37
        td 44
      tr
        td Seattle Mariners
        td 78
        td 84
        td 40
        td 41
        td 38
        td 43
      tr
        td Texas Rangers
        td 78
        td 84
        td 41
        td 40
        td 37
        td 44
      tr
        td Toronto Blue Jays
        td 76
        td 86
        td 42
        td 39
        td 34
        td 47
      tr
        td Baltimore Orioles
        td 75
        td 87
        td 42
        td 39
        td 29
        td 52
      tr
        td Oakland Athletics
        td 75
        td 87
        td 46
        td 35
        td 29
        td 52
      tr
        td Chicago White Sox
        td 67
        td 95
        td 39
        td 42
        td 28
        td 53
      tr
        td Detroit Tigers
        td 64
        td 98
        td 34
        td 47
        td 30
        td 51



  table
    caption National League
    thead
      tr
        th Team
        th W
        th L
        th Home W
        th Home L
        th Away W
        th Away L
    tbody
      tr
        td Los Angeles Dodgers
        td 104
        td 58
        td 57
        td 24
        td 47
        td 34
      tr
        td Washington Nationals
        td 97
        td 65
        td 47
        td 34
        td 50
        td 31
      tr
        td Arizona Diamondbacks
        td 93
        td 69
        td 52
        td 29
        td 41
        td 40
      tr
        td Chicago Cubs
        td 92
        td 70
        td 48
        td 33
        td 44
        td 37
      tr
        td Colorado Rockies
        td 87
        td 75
        td 46
        td 35
        td 41
        td 40
      tr
        td Milwaukee Brewers
        td 86
        td 76
        td 46
        td 38
        td 40
        td 38
      tr
        td St Louis Cardinals
        td 83
        td 79
        td 44
        td 37
        td 39
        td 42
      tr
        td Miami Marlins
        td 77
        td 85
        td 42
        td 36
        td 35
        td 49
      tr
        td Pittsburgh Pirates
        td 75
        td 87
        td 44
        td 37
        td 31
        td 50
      tr
        td Atlanta Braves
        td 72
        td 90
        td 37
        td 44
        td 35
        td 46
      tr
        td San Diego Padres
        td 71
        td 91
        td 43
        td 38
        td 28
        td 53
      tr
        td New York Mets
        td 70
        td 92
        td 37
        td 44
        td 33
        td 48
      tr
        td Cincinnati Reds
        td 68
        td 94
        td 39
        td 42
        td 29
        td 52
      tr
        td Philadelphia Phillies
        td 66
        td 96
        td 39
        td 42
        td 27
        td 54
      tr
        td San Francisco Giants
        td 64
        td 98
        td 38
        td 43
        td 26
        td 55
