body {
	font-family: Verdana, sans-serif;
	margin: 0;
}

.nav {
	background-color: #ccc;
}
.nav-list {
	list-style-type: none;
	margin: 0 10%;
	padding: 0;
}
.nav-item {
	display: inline-block;
	width: 20%;
}
.nav-link {
	background-color: #ccc;
	color: #000;
	display: block;
	padding: 20px;
}
.nav-link:hover {
	background-color: #000;
	color: #fff;
}
.nav-item.current .nav-link {
	background-color: #fff;
	color: #000;
}

main {
	margin: 1em 10%;
}

.teamsTable {
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.teamsTable + .teamsTable {
	margin-top: 1em;
}

.teamsTable caption {
	font-size: 1.0625rem;
	font-weight: bold;
	margin-bottom: 0.25em;
}

.teamsTable thead th {
	background-color: #ccc;
	font-size: 0.75rem;
	padding: 5px;
	text-align: right;
}

.teamsTable tbody tr {
	border-bottom: 1px solid #ccc;
}

.teamsTable tbody tr:nth-child(even) {
	background-color: #eee;
}

.teamsTable tbody tr:hover {
	background-color: #ccc;
}

.teamsTable tbody td,
.teamsTable tbody th {
	font-size: 0.875rem;
	font-weight: normal;
	padding: 5px;
	text-align: right;
}

.teamsTable thead tr:first-child th { text-align: center; }

.teams .league + .league { margin-top: 2em; }

.teams .division-title {
	border-bottom: 1px solid #ccc;
}

.teams .league-title, .teams .division-title { font-size: 1.4em; }

@media screen and (min-width: 40em) {
	.teams .league {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.teams .division {
		box-sizing: border-box;
		padding: 10px;
		width: 50%;
	}

	.teams .league-title, .teams .division-title {
		margin-bottom: 0.5em;
		margin-top: 0;
	}
}

@media screen and (min-width: 65em) {
	.teams .division:first-child {
		width: 10%;
	}
	.teams .division:not(:first-child) {
		border-left: 1px solid #ccc;
		width: 30%;
	}
	.teams .league-title {
		margin: 0;
		text-orientation: sideways;
		writing-mode: vertical-rl;
	}
}

.teams .division-teams {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.teams .division-team + .division-team {
	margin-top: 0.85em;
}
.teams .division-team-link {
	background-color: #CCC;
	border-bottom: 4px solid black;
	color: #000;
	display: block;
	font-weight: bold;
	padding: 0.5em;
	text-decoration: none;
}

.teams .ari .division-team-link {
	background-color: #A71930;
	border-bottom-color: #E3D4AD;
	color: #FFF;
}
.teams .atl .division-team-link {
	background-color: #CE1141;
	border-bottom-color: #13274F;
	color: #FFF;
}
.teams .bal .division-team-link {
	background-color: #DF4601;
	border-bottom-color: #000000;
	color: #FFF;
}
.teams .bos .division-team-link {
	background-color: #BD3039;
	border-bottom-color: #0D2B56;
	color: #FFF;
}
.teams .chc .division-team-link {
	background-color: #CC3433;
	border-bottom-color: #0E3386;
	color: #FFF;
}
.teams .chw .division-team-link {
	background-color: #C4CED4;
	border-bottom-color: #000;
	color: #FFF;
}
.teams .cin .division-team-link {
	background-color: #C6011F;
	border-bottom-color: #000000;
	color: #FFF;
}
.teams .cle .division-team-link {
	background-color: #E31937;
	border-bottom-color: #002B5C;
	color: #FFF;
}
.teams .col .division-team-link {
	background-color: #333366;
	border-bottom-color: #231F20;
	color: #C4CED4;
}
.teams .det .division-team-link {
	background-color: #0C2C56;
	border-bottom-color: #ccc;
	color: #FFF;
}
.teams .hou .division-team-link {
	background-color: #002D62;
	border-bottom-color: #EB6E1F;
	color: #FFF;
}
.teams .kc .division-team-link {
	background-color: #004687;
	border-bottom-color: #C09A5B;
	color: #FFF;
}
.teams .laa .division-team-link {
	background-color: #BA0021;
	border-bottom-color: #003263;
	color: #FFF;
}
.teams .lad .division-team-link {
	background-color: #EF3E42;
	border-bottom-color: #005A9C;
	color: #FFF;
}
.teams .mia .division-team-link {
	background-color: #FF6600;
	border-bottom-color: #0077C8;
	color: #FFF;
}
.teams .mil .division-team-link {
	background-color: #0A2351;
	border-bottom-color: #B6922E;
	color: #FFF;
}
.teams .min .division-team-link {
	background-color: #002B5C;
	border-bottom-color: #D31145;
	color: #FFF;
}
.teams .nym .division-team-link {
	background-color: #FF5910;
	border-bottom-color: #002D72;
	color: #FFF;
}
.teams .nyy .division-team-link {
	background-color: #E4002B;
	border-bottom-color: #003087;
	color: #FFF;
}
.teams .oak .division-team-link {
	background-color: #003831;
	border-bottom-color: #EFB21E;
	color: #FFF;
}
.teams .phi .division-team-link {
	background-color: #284898;
	border-bottom-color: #E81828;
	color: #FFF;
}
.teams .pit .division-team-link {
	background-color: #FDB827;
	border-bottom-color: #000000;
	color: #FFF;
}
.teams .sdp .division-team-link {
	background-color: #002D62;
	border-bottom-color: #FEC325;
	color: #A0AAB2;
}
.teams .sfg .division-team-link {
	background-color: #FD5A1E;
	border-bottom-color: #8B6F4E;
	color: #000000;
}
.teams .sea .division-team-link {
	background-color: #0C2C56;
	border-bottom-color: #005C5C;
	color: #C4CED4;
}
.teams .stl .division-team-link {
	background-color: #C41E3A;
	border-bottom-color: #000066;
	color: #FFF;
}
.teams .tb .division-team-link {
	background-color: #092C5C;
	border-bottom-color: #8FBCE6;
	color: #FFF;
}
.teams .tex .division-team-link {
	background-color: #C0111F;
	border-bottom-color: #003278;
	color: #FFF;
}
.teams .tor .division-team-link {
	background-color: #134A8E;
	border-bottom-color: #1D2D5C;
	color: #FFF;
}
.teams .wsh .division-team-link {
	background-color: #AB0003;
	border-bottom-color: #11225B;
	color: #FFF;
}

.teams .division-team-link:hover {
	background-color: #000;
	color: #FFF;
}
