body {
	font-family: Verdana, sans-serif;
	margin: 0;
}

.nav {
	background-color: #ccc;
}
.nav-list {
	list-style-type: none;
	margin: 0 10%;
	padding: 0;
}
.nav-item {
	display: inline-block;
	width: 20%;
}
.nav-link {
	background-color: #ccc;
	color: #000;
	display: block;
	padding: 20px;
}
.nav-link:hover {
	background-color: #000;
	color: #fff;
}
.nav-item.current .nav-link {
	background-color: #fff;
	color: #000;
}

main {
	margin: 1em 10%;
}

.teamsTable {
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.teamsTable + .teamsTable {
	margin-top: 1em;
}

.teamsTable caption {
	font-size: 1.0625rem;
	font-weight: bold;
	margin-bottom: 0.25em;
}

.teamsTable thead th {
	background-color: #ccc;
	font-size: 0.75rem;
	padding: 5px;
	text-align: right;
}

.teamsTable tbody tr {
	border-bottom: 1px solid #ccc;
}

.teamsTable tbody tr:nth-child(even) {
	background-color: #eee;
}

.teamsTable tbody tr:hover {
	background-color: #ccc;
}

.teamsTable tbody td,
.teamsTable tbody th {
	font-size: 0.875rem;
	font-weight: normal;
	padding: 5px;
	text-align: right;
}

.teamsTable thead tr:first-child th { text-align: center; }

.teams .league + .league { margin-top: 2em; }

.teams .division-title {
	border-bottom: 1px solid #ccc;
}

.teams .league-title, .teams .division-title { font-size: 1.4em; }

@media screen and (min-width: 40em) {
	.teams .league {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.teams .division {
		box-sizing: border-box;
		padding: 10px;
		width: 50%;
	}

	.teams .league-title, .teams .division-title {
		margin-bottom: 0.5em;
		margin-top: 0;
	}
}

@media screen and (min-width: 65em) {
	.teams .division:first-child {
		width: 10%;
	}
	.teams .division:not(:first-child) {
		border-left: 1px solid #ccc;
		width: 30%;
	}
	.teams .league-title {
		margin: 0;
		text-orientation: sideways;
		writing-mode: vertical-rl;
	}
}

.teams .division-teams {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.teams .division-team + .division-team {
	margin-top: 0.85em;
}
.teams .division-team-link {
	background-color: #CCC;
	border-bottom: 4px solid black;
	color: #000;
	display: block;
	font-weight: bold;
	padding: 0.5em;
	text-decoration: none;
}
.teams .division-team-link:hover {
	background-color: #000;
	color: #FFF;
}
